# docker compose env variables
COMPOSE_PROJECT_NAME=bodc_ldes_test

#graphdb env variables
GDB_REPO=bodc_ldes_test
REPOLABEL=bodc_ldes_test
GDB_HOME_FOLDER=/opt/graphdb/home
GDB_MAX_HEADER=65536
GDB_JAVA_OPTS="-Xms8g -Xmx16g -Dcom.ontotext.graphdb.monitoring.jmx=true"

#jupyter env variables
SRC_FOLDER=/kgap/notebooks

# ldes-consumer env variables
LDES_CONFIG_FILE=/data/ldes-feeds.yaml
LDES2SPARQL_IMAGE=ghcr.io/rdf-connect/ldes2sparql:latest
LOG_LEVEL=INFO
